<nav class="navbar navbar-default blue">
    <div class="container">
        <a class="navbar-brand" href="#">LOGO</a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <input id="loginElemt" value="1234" type="hidden" (click)="logInClicked($event)" />
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul *ngIf="isUserLoggedIn" class="nav navbar-nav navbar-right">
                <li><a style="cursor: pointer;" (click)="logoutClicked($event)">Logout</a>
                </li>
            </ul>
            <ul *ngIf="!isUserLoggedIn" class="nav navbar-nav navbar-right">
                <li><a href="#" routerLink="/login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" routerLink="/products">Products</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" routerLink="/dashboard">Dashboard</a></li>
            </ul>
        </div>
    </div>
</nav>